REACT_APP_API_URL=http://localhost:5000/api
PORT=3001

# Google OAuth Client ID
# Get this from https://console.cloud.google.com/apis/credentials
REACT_APP_GOOGLE_CLIENT_ID=297372661384-7omhitbakkms778n9ff2d0ngk4veqt9c.apps.googleusercontent.com
